@model Lab03.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoverImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoverImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileUrl)
        </dd>
    </dl>
</div>
<br>
<div>
    <a asp-action="Download" asp-route-id="@Model?.Id">Download</a> |
    <a asp-action="AddComment" asp-route-id="@Model?.Id">Comment Add Rating</a> |
    <a asp-action="Index">Back to List</a>
</div>


<br />
<h2>Comments</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Content
            </th>
            <th>
                UserId
            </th>
            <th>
                UpdateTime
            </th>
            <th>
                Rating
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a href="@Url.Action("EditComment","Movies" ,new  { movieId=@Model.Id, commentId=  @item.Id })">Edit</a>
                    <a href="@Url.Action("DeleteComment","Movies" ,new  { movieId=@Model.Id, commentId=  @item.Id })">Delete</a>


                </td>
            </tr>
        }
    </tbody>
</table>

@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}




