@model IEnumerable<Lab03.Models.Movie>
 
@{
    ViewData["Title"] = "Movie List";
}

<h1>Movie List</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Create New Movie</a>
</p>
 
  
<form method="post" asp-action="Index" >
    <table  > 
        <tr  >
            <td style="padding-right:2em;">
                    <label for="selectedGenre" >Filter by Genre:</label>
                <select  asp-for="@ViewData["selectedGenre"]"
                    id="selectedGenre" name="selectedGenre" asp-items="Html.GetEnumSelectList<Lab03.Models.MovieGenre>()">
                        <option value="-1">Select Genre</option>
                    </select> 
            </td>
            <td style="padding-right:2em;">
                <label for="minRating" >Min Rating:</label> 
                <input type="number" id="minRating" name="minRating" min="0" max="10" step="0.1"  value="@ViewData["minRating"]">
               
            </td>
            <td style="padding-right:2em;">

                <label for="maxRating" >Max Rating:</label> 
                <input type="number" id="maxRating" name="maxRating" min="0" max="10" step="0.1"  value="@ViewData["maxRating"]">
                
            </td>
            <td>
                <button type="submit"  >Apply Filters</button>
            </td>

       </tr>


    </table>
     
</form>


 
<table class="table">
    <thead>
        <tr>
            <th>Cover</th>
            <th>Details</th>
            <th>Rating</th>
            <th>Actions</th> <!-- 新增一个表头列用于操作按钮 -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr >
                <td style="width: 150px; ">
                    <img src="@item.CoverImage" alt="@item.Title" style="max-height: 150px;max-width: 150px; " />
                </td>
                <td>
                    <strong>Title:</strong> @item.Title<br />
                    <strong>Genre:</strong> @Html.DisplayFor(model => item.Genre)                 <br />
                    <strong>Director:</strong> @item.Director<br />
                    <strong>Release Date:</strong> @String.Format("{0:yyyy-MM-dd}", item.ReleaseTime)<br /> 
                </td>
                <td>
                    <strong>Rating:</strong> @item.Rating<br />
                </td>
                   <td>
                       <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>


                       @{
                           if (ViewBag.loginUserId == item.UploaderId )
   {
                               <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                               <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                           }

                       }
                   </td>
            </tr>
        }
    </tbody>
</table>
