@model CCBnb_Admin_Web.Models.RoomDTO

<div>
    <h4>RoomDTO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)


            @{
                if (Model.Status == "Available" && Model.Status != "Occupied")
                {
                    // <a asp-action="Disable" asp-route-id="@Model.Id">Disable</a>

                    //call disable action
                    <button onclick="Disable(@Model.Id)">Disable</button>


                }
            }

            @{
                if (Model.Status == "Unavailable")
                {
                    // <a asp-action="Enable" asp-route-id="@Model.Id">Enable</a>
                    <button onclick="Enable(@Model.Id)">Enable</button>


                }
            }


        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })  
    | <a asp-action="Index">Back to List</a>
</div>
<script>
    $(document).ready(function () {
        $("#room").addClass("active");
    });

    //call enable action
function Enable(id) {
        $.ajax({
            url: "/Room/Enable/" + id,
            type: "PATCH",
            success: function (data) {
                window.location.href = "/Room/Details/" + id;
            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });
    }

    //call disable action
function Disable(id) {
        $.ajax({
            url: "/Room/Disable/" + id,
            type: "PATCH",
            success: function (data) {
                window.location.href = "/Room/Details/" + id;
            },
            error: function (xhr, status, error) {
                alert("Error");
            }
        });
    }



</script>