@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lab03</h1>
      

    



       

    @{ if (ViewBag.LoginName!=null && ViewBag.LoginName!="")
            {
                <h2> Welcome  @ViewBag.LoginName</h2>
                
                <a href="@Url.Action("Index", "Movies")">Movies</a>
                  <a href="@Url.Action("Logout","Users")">Logout</a>
            }
            else
            {
                <h2> Welcome Guest</h2>
                <a href="@Url.Action("Create", "Users")">Register</a>
                <a href="@Url.Action("Login", "Users")">Login</a>
            }
    }

     


     
    




</div>
